<!-- <button class="btn btn-primary">Click me</button>
<button class="btn btn-primary">Click me</button>
<button class="btn btn-primary">Click me</button> -->
<div class="dashboard-list d-flex">
  <div class="dashboard-item d-flex flex-column">
    <div class="item__label">Số người dùng đang online</div>
    <div class="item__number">{{currentOnlineUser}}</div>
  </div>
  <div class="dashboard-item d-flex flex-column">
    <div class="item__label">Tổng số lượt truy cập</div>
    <div class="item__number">150</div>
  </div>
</div>
