<h2 class="page-title">List All Users</h2>
<button class="tooltip" title="Người dùng đang bị khóa. Nhấn để mở khóa">
  Hover over me
</button>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>User Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of listUser">
      <td>{{ data?.ID_reader }}</td>
      <td>{{ data?.username }}</td>
      <td>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteUser(data?.ID_reader)"
        >
          <i class="fas fa-trash"></i>
        </button>
        <button
          *ngIf="data?.lock_status == 1; else unlock"
          type="button"
          class="btn btn-warning ml-6"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-custom-class="custom-tooltip"
          data-bs-title="This top tooltip is themed via CSS variables."
          title="Người dùng đang bị khóa. Nhấn để mở khóa"
          (click)="unlockUser(data?.ID_reader)"
        >
          <i class="fas fa-lock"></i>
        </button>
        <ng-template #unlock>
          <button
            type="button"
            class="btn btn-outline-warning ml-6"
            title="Nhấn để khóa người dùng"
            (click)="lockUser(data?.ID_reader)"
          >
            <i class="fas fa-lock-open"></i>
          </button>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>
