.text-truncate-container{
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.manga__info {
  width: 450px;
}

@media (max-width: 800px) {
  .manga__info {
    width: auto;
  }

}
